#  Case Study
-  Amit-BS Workout

In [5]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [12]:
print(os.getcwd())
#print the current working dir

E:\analytics\projects\pyanalytics

In [13]:
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'A51_dsBasic.ipynb',
 'A52_dsNP.ipynb',
 'A53_dsPD.ipynb',
 'Case Practice E56_caseAmit.ipynb',
 'Class 1 - Practice(14-02-2024) Data Structure Basics .ipynb',
 'Class 2 Practice (16-2-2024) - Numpy.ipynb',
 'Class 3 Practice(19-02-2024) - Pandas.ipynb',
 'data',
 'E56_caseAmit.ipynb',
 'file1.ipynb',
 'filedf.csv',
 'mtcars2.xlsx',
 'mtcars3.csv',
 'trg.xlsx',
 'Untitled.ipynb',
 'vinay.csv']

In [8]:
datafolder1 = 'E:/analytics/projects/pyanalytics/data/'
os.listdir(datafolder1)

['trg.xlsx']

In [14]:
fileLoc = 'E:/analytics/projects/pyanalytics/data/trg.xlsx'
df1 =  pd.read_excel(fileLoc, skiprows=1,sheet_name=0)
df1.shape

(31, 15)

In [16]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   1                       31 non-null     int64
 1   29                      31 non-null     int64
 2   Dr. Ashwini L. Bargaje  31 non-null     object
 3   Clinical Assistant      31 non-null     object
 4   Medical                 31 non-null     object
 5   RMO                     31 non-null     object
 6   2020-04-12 00:00:00     31 non-null     datetime64[ns]
 7   2023-04-11 00:00:00     31 non-null     datetime64[ns]
 8   21000                   31 non-null     int64
 9   11.07.1995              31 non-null     object
 10  BHMS                    31 non-null     object
 11  2Years                  31 non-null     object
 12  75634                   17 non-null     object
 13  NaN                     10 non-null     object
 14  NaN.1                   0 non-null      float64
dtypes: datetime64[ns](2), float64(1), int64(3), object(9)
memory usage: 3.8+ KB

In [22]:
df1.describe

<bound method NDFrame.describe of      1  29         Dr. Ashwini L. Bargaje       Clinical Assistant  \
0    2  25           Mr. Pratap V.Khedkar          Executive In HR
1    3  27        Mr. Shivdatta P. Gholap     Radiology Technician
2    4  30            Dr. Akshay W. Sonar       Clinical Assistant
3    5  23           Dr. Akshay M. Jadhav       Clinical Assistant
4    6  23       Dr. Anuradha R. Deshmukh       Clinical Assistant
5    7  25          Dr. Mahesh A. Mandora       Clinical Assistant
6    8  28             Dr. Nitin K. Mothe       Clinical Assistant
7    9  27            Dr. Pooja B.Kathore       Clinical Assistant
8   10  24               Dr. Uzma Phopere       Clinical Assistant
9   11  26            Dr. Varsha M. Pawar       Clinical Assistant
10  12  26              Mr. Bhushan Joshi        Senior Accountant
11  13  29               Ms. Zarin Ramani                   Matron
12  14  28      Mr. Shrikrushna B. Kokate      Biological Engineer
13  15  24               Mr. Sandeep Giri            OT Technician
14  16  30              Mr.Mohsin Y. Khan          Assistan Growth
15  17  32             Mr. Balu M. Kamble          Assistan Growth
16  18  31          Mr. Ganesh G. Gadhave          Assistan Growth
17  19  33             Mr.Sunil M.Buchude          Assistan Growth
18  20  31             Dr.Kiran A. Burkul       Clinical Assistant
19  21  42        Mr. Sandeep D. Sadaphal                  Billing
20  22  43          Mr. Vikas V. Bhalerao            OT Technician
21  23  34             Ms. Anita R. Sasne              Staff Nurse
22  24  38        Ms. Ashwani R. Thombare              Staff Nurse
23  25  37           Ms. Chhaya B. Savant              Staff Nurse
24  26  39          Mr. Gajanan B. Mundhe              Staff Nurse
25  27  40        Ms. Pradnya S. Khandare              Staff Nurse
26  28  41            Ms. Ranjana R. Nair              Staff Nurse
27  29  36             Ms. Usha B. Jadhav              Staff Nurse
28  30  35             Ms.Vidya N. Jadhav              Staff Nurse
29  31  21       Mr. Manoj Bhagwan Sarode  Executive in Maintenace
30  32  22  Ms. Amrapali Ankush Tribhuvan              Staff Nurse

              Medical                 RMO 2020-04-12 00:00:00  \
0                  HR               Admin          2021-07-01
1           Radiology          Technician          2021-07-01
2             Medical                 RMO          2021-07-27
3             Medical                 RMO          2022-01-01
4             Medical                 RMO          2022-01-01
5             Medical                 RMO          2022-01-01
6             Medical                 RMO          2022-01-01
7             Medical                 RMO          2022-01-01
8             Medical                 RMO          2022-01-01
9             Medical                 RMO          2022-01-01
10           Accounts             Manager          2022-01-01
11            Nursing              Matron          2022-02-04
12            Medical  Bio Mediacal Admin          2022-03-22
13    CVTS Department          Technician          2022-04-05
14  Growth Department            Assistan          2022-04-24
15  Growth Department            Assistan          2022-05-01
16  Growth Department            Assistan          2022-05-01
17  Growth Department            Assistan          2022-05-01
18            Medical                 RMO          2022-05-11
19            Billing   Executive Billing          2022-06-01
20    CVTS Department          Technician          2022-06-01
21            Nursing             Nursing          2022-06-01
22            Nursing             Nursing          2022-06-01
23            Nursing             Nursing          2022-06-01
24            Nursing             Nursing          2022-06-01
25            Nursing             Nursing          2022-06-01
26            Nursing             Nursing          2022-06-01
27            Nursing             Nursing          2022-06-01
28            Nursing             Nursing          2022-06-01
29         Maintenace             Manager          2022-07-01
30            Nursing             Nursing          2022-08-01

   2023-04-11 00:00:00  21000  11.07.1995  \
0           2022-06-30  25000  14.11.1979
1           2022-06-30  25000  18.12.1988
2           2022-07-26  18000  09.05.1997
3           2022-12-31  19000  14.10.1996
4           2022-12-31  18600   5.12.1996
5           2022-12-31  65000  21.09.1987
6           2022-12-31  18600  25.05.1983
7           2022-12-31  18600  05.12.1995
8           2022-12-31  18600  04.12.1988
9           2022-12-31  15300  13.06.1996
10          2023-12-31  45000  25.06.1986
11          2023-02-03  40000  10.02.1957
12          2023-03-21  24000  12.05.1995
13          2023-04-05  35000  01.04.1987
14          2023-04-26  22000  03.06.1986
15          2023-04-30  20000  07.01.1984
16          2023-04-30  17000  10.08.1997
17          2023-04-30  15000  05.02.1995
18          2023-05-10  16500  02.10.1995
19          2023-05-31  22000  30.11.1987
20          2023-05-31  22000  07.12.1991
21          2023-05-31  17500  27.06.1995
22          2023-05-31  16000  16.03.1998
23          2023-05-31  16000  09.06.1984
24          2023-05-31  16500  02.05.1996
25          2023-05-31  15000  02.10.1996
26          2023-05-31  16500  22.02.1984
27          2023-05-31  15000  15.01.1985
28          2023-05-31  17500  01.12.1993
29          2023-06-30  16800  16.03.1982
30          2023-07-31  16000  14.10.1987

                                                 BHMS    2Years  \
0                                    Bachelor Of Arts     1Year
1                        X-Raay Technician In Diploma    6Years
2                                                BHMS    4Years
3                                                BAMS    1Years
4                                                BHMS    3Years
5                                                BHMS    2Years
6                                                BHMS    2Years
7                                                BHMS    2Years
8                                                BHMS    1Years
9                                                BHMS   9Months
10                                             M. COM    3Years
11                                                GNM   20Years
12  Diploma in Electronics & Telecommunciation Eng...    4Years
13                                      OT Technician   15years
14                                               B.SC    7years
15                             B.A & M.A ( Sociology)    4Years
16                                         12th (HSC)    2Years
17                                           B.E Tech    1Years
18                                               BHMS   Fresher
19                                             B. Com    9Years
20                          Agriculture Diploma & B.A    7years
21                                                GNM    2Years
22                          ANM Nursing & GNM Nursing    4Years
23                                                GNM    2Years
24                                              R GNM   9Months
25                          ANM Nursing & GNM Nursing    4Years
26                                          BSC/ RGNM    4Years
27                       RANM Nursing. Diploma in GNM    4Years
28                                              R GNM    4Years
29            Diploma in Auto Electrical & Electronic    7years
30                          ANM Nursing & GNM Nursing  10 Years

               75634         NaN  NaN.1
0                NaN         NaN    NaN
1                NaN         NaN    NaN
2         1516138419         NaN    NaN
3              77980  24.02.2021    NaN
4              74571  14.02.2026    NaN
5   1028542012210070         NaN    NaN
6             124110         NaN    NaN
7              49553         NaN    NaN
8              56396         NaN    NaN
9              77821         NaN    NaN
10               NaN         NaN    NaN
11           I-21762   30.3.1982    NaN
12               NaN         NaN    NaN
13               NaN         NaN    NaN
14               NaN         NaN    NaN
15               NaN         NaN    NaN
16               NaN         NaN    NaN
17               NaN         NaN    NaN
18               NaN         NaN    NaN
19               NaN         NaN    NaN
20               NaN         NaN    NaN
21      XXVIII-54493   30.3.2022    NaN
22          XI-15177  30.03.2022    NaN
23      XXVIII-62511  30.03.2022    NaN
24         XLVI-4504  30.03.2027    NaN
25      XXVIII-57664  30.03.2017    NaN
26               NaN         NaN    NaN
27         17DN15807         NaN    NaN
28      XXVIII-67324   6.12.2019    NaN
29               NaN         NaN    NaN
30      XXVIII-68563  30.03.2027    NaN  >

In [19]:
', '.join(df1.columns)

TypeError: sequence item 0: expected str instance, int found

In [23]:
df1

,1,29,Dr. Ashwini L. Bargaje,Clinical Assistant,Medical,RMO,2020-04-12 00:00:00,2023-04-11 00:00:00,21000,11.07.1995,BHMS,2Years,75634,NaN,NaN.1
0,2,25,Mr. Pratap V.Khedkar,Executive In HR,HR,Admin,2021-07-01,2022-06-30,25000,14.11.1979,Bachelor Of Arts,1Year,NaN,NaN,NaN
1,3,27,Mr. Shivdatta P. Gholap,Radiology Technician,Radiology,Technician,2021-07-01,2022-06-30,25000,18.12.1988,X-Raay Technician In Diploma,6Years,NaN,NaN,NaN
2,4,30,Dr. Akshay W. Sonar,Clinical Assistant,Medical,RMO,2021-07-27,2022-07-26,18000,09.05.1997,BHMS,4Years,1516138419,NaN,NaN
3,5,23,Dr. Akshay M. Jadhav,Clinical Assistant,Medical,RMO,2022-01-01,2022-12-31,19000,14.10.1996,BAMS,1Years,77980,24.02.2021,NaN
4,6,23,Dr. Anuradha R. Deshmukh,Clinical Assistant,Medical,RMO,2022-01-01,2022-12-31,18600,5.12.1996,BHMS,3Years,74571,14.02.2026,NaN
5,7,25,Dr. Mahesh A. Mandora,Clinical Assistant,Medical,RMO,2022-01-01,2022-12-31,65000,21.09.1987,BHMS,2Years,1028542012210070,NaN,NaN
6,8,28,Dr. Nitin K. Mothe,Clinical Assistant,Medical,RMO,2022-01-01,2022-12-31,18600,25.05.1983,BHMS,2Years,124110,NaN,NaN
7,9,27,Dr. Pooja B.Kathore,Clinical Assistant,Medical,RMO,2022-01-01,2022-12-31,18600,05.12.1995,BHMS,2Years,49553,NaN,NaN
8,10,24,Dr. Uzma Phopere,Clinical Assistant,Medical,RMO,2022-01-01,2022-12-31,18600,04.12.1988,BHMS,1Years,56396,NaN,NaN
9,11,26,Dr. Varsha M. Pawar,Clinical Assistant,Medical,RMO,2022-01-01,2022-12-31,15300,13.06.1996,BHMS,9Months,77821,NaN,NaN
10,12,26,Mr. Bhushan Joshi,Senior Accountant,Accounts,Manager,2022-01-01,2023-12-31,45000,25.06.1986,M. COM,3Years,NaN,NaN,NaN
11,13,29,Ms. Zarin Ramani,Matron,Nursing,Matron,2022-02-04,2023-02-03,40000,10.02.1957,GNM,20Years,I-21762,30.3.1982,NaN
12,14,28,Mr. Shrikrushna B. Kokate,Biological Engineer,Medical,Bio Mediacal Admin,2022-03-22,2023-03-21,24000,12.05.1995,Diploma in Electronics & Telecommunciation Eng...,4Years,NaN,NaN,NaN
13,15,24,Mr. Sandeep Giri,OT Technician,CVTS Department,Technician,2022-04-05,2023-04-05,35000,01.04.1987,OT Technician,15years,NaN,NaN,NaN
14,16,30,Mr.Mohsin Y. Khan,Assistan Growth,Growth Department,Assistan,2022-04-24,2023-04-26,22000,03.06.1986,B.SC,7years,NaN,NaN,NaN
15,17,32,Mr. Balu M. Kamble,Assistan Growth,Growth Department,Assistan,2022-05-01,2023-04-30,20000,07.01.1984,B.A & M.A ( Sociology),4Years,NaN,NaN,NaN
16,18,31,Mr. Ganesh G. Gadhave,Assistan Growth,Growth Department,Assistan,2022-05-01,2023-04-30,17000,10.08.1997,12th (HSC),2Years,NaN,NaN,NaN
17,19,33,Mr.Sunil M.Buchude,Assistan Growth,Growth Department,Assistan,2022-05-01,2023-04-30,15000,05.02.1995,B.E Tech,1Years,NaN,NaN,NaN
18,20,31,Dr.Kiran A. Burkul,Clinical Assistant,Medical,RMO,2022-05-11,2023-05-10,16500,02.10.1995,BHMS,Fresher,NaN,NaN,NaN
19,21,42,Mr. Sandeep D. Sadaphal,Billing,Billing,Executive Billing,2022-06-01,2023-05-31,22000,30.11.1987,B. Com,9Years,NaN,NaN,NaN
20,22,43,Mr. Vikas V. Bhalerao,OT Technician,CVTS Department,Technician,2022-06-01,2023-05-31,22000,07.12.1991,Agriculture Diploma & B.A,7years,NaN,NaN,NaN
21,23,34,Ms. Anita R. Sasne,Staff Nurse,Nursing,Nursing,2022-06-01,2023-05-31,17500,27.06.1995,GNM,2Years,XXVIII-54493,30.3.2022,NaN
22,24,38,Ms. Ashwani R. Thombare,Staff Nurse,Nursing,Nursing,2022-06-01,2023-05-31,16000,16.03.1998,ANM Nursing & GNM Nursing,4Years,XI-15177,30.03.2022,NaN
23,25,37,Ms. Chhaya B. Savant,Staff Nurse,Nursing,Nursing,2022-06-01,2023-05-31,16000,09.06.1984,GNM,2Years,XXVIII-62511,30.03.2022,NaN
24,26,39,Mr. Gajanan B. Mundhe,Staff Nurse,Nursing,Nursing,2022-06-01,2023-05-31,16500,02.05.1996,R GNM,9Months,XLVI-4504,30.03.2027,NaN
25,27,40,Ms. Pradnya S. Khandare,Staff Nurse,Nursing,Nursing,2022-06-01,2023-05-31,15000,02.10.1996,ANM Nursing & GNM Nursing,4Years,XXVIII-57664,30.03.2017,NaN
26,28,41,Ms. Ranjana R. Nair,Staff Nurse,Nursing,Nursing,2022-06-01,2023-05-31,16500,22.02.1984,BSC/ RGNM,4Years,NaN,NaN,NaN
27,29,36,Ms. Usha B. Jadhav,Staff Nurse,Nursing,Nursing,2022-06-01,2023-05-31,15000,15.01.1985,RANM Nursing. Diploma in GNM,4Years,17DN15807,NaN,NaN
28,30,35,Ms.Vidya N. Jadhav,Staff Nurse,Nursing,Nursing,2022-06-01,2023-05-31,17500,01.12.1993,R GNM,4Years,XXVIII-67324,6.12.2019,NaN
29,31,21,Mr. Manoj Bhagwan Sarode,Executive in Maintenace,Maintenace,Manager,2022-07-01,2023-06-30,16800,16.03.1982,Diploma in Auto Electrical & Electronic,7years,NaN,NaN,NaN
30,32,22,Ms. Amrapali Ankush Tribhuvan,Staff Nurse,Nursing,Nursing,2022-08-01,2023-07-31,16000,14.10.1987,ANM Nursing & GNM Nursing,10 Years,XXVIII-68563,30.03.2027,NaN

In [24]:
df = df1.copy()
#make a copy of the DF (dataframe)

In [25]:
#df.head()
df.tail()

,1,29,Dr. Ashwini L. Bargaje,Clinical Assistant,Medical,RMO,2020-04-12 00:00:00,2023-04-11 00:00:00,21000,11.07.1995,BHMS,2Years,75634,NaN,NaN.1
26,28,41,Ms. Ranjana R. Nair,Staff Nurse,Nursing,Nursing,2022-06-01,2023-05-31,16500,22.02.1984,BSC/ RGNM,4Years,NaN,NaN,NaN
27,29,36,Ms. Usha B. Jadhav,Staff Nurse,Nursing,Nursing,2022-06-01,2023-05-31,15000,15.01.1985,RANM Nursing. Diploma in GNM,4Years,17DN15807,NaN,NaN
28,30,35,Ms.Vidya N. Jadhav,Staff Nurse,Nursing,Nursing,2022-06-01,2023-05-31,17500,01.12.1993,R GNM,4Years,XXVIII-67324,6.12.2019,NaN
29,31,21,Mr. Manoj Bhagwan Sarode,Executive in Maintenace,Maintenace,Manager,2022-07-01,2023-06-30,16800,16.03.1982,Diploma in Auto Electrical & Electronic,7years,NaN,NaN,NaN
30,32,22,Ms. Amrapali Ankush Tribhuvan,Staff Nurse,Nursing,Nursing,2022-08-01,2023-07-31,16000,14.10.1987,ANM Nursing & GNM Nursing,10 Years,XXVIII-68563,30.03.2027,NaN

In [26]:
df.dtypes
# data types.. character, string(object) number, integer, numeric/float, date, logical

1                                  int64
29                                 int64
Dr. Ashwini L. Bargaje            object
Clinical Assistant                object
Medical                           object
RMO                               object
2020-04-12 00:00:00       datetime64[ns]
2023-04-11 00:00:00       datetime64[ns]
21000                              int64
11.07.1995                        object
BHMS                              object
2Years                            object
75634                             object
NaN                               object
NaN.1                            float64
dtype: object

In [27]:
print(', '.join(df1.columns))
newCols = ['ser','empCode','eName', 'design','dept','cat','DOJ','DOL','sal','DOB','qual','expr','regdNo','regdVal','remarks']
df.columns = newCols
print(', '.join(df.columns))

TypeError: sequence item 0: expected str instance, int found

In [28]:
df.head()

,1,29,Dr. Ashwini L. Bargaje,Clinical Assistant,Medical,RMO,2020-04-12 00:00:00,2023-04-11 00:00:00,21000,11.07.1995,BHMS,2Years,75634,NaN,NaN.1
0,2,25,Mr. Pratap V.Khedkar,Executive In HR,HR,Admin,2021-07-01,2022-06-30,25000,14.11.1979,Bachelor Of Arts,1Year,NaN,NaN,NaN
1,3,27,Mr. Shivdatta P. Gholap,Radiology Technician,Radiology,Technician,2021-07-01,2022-06-30,25000,18.12.1988,X-Raay Technician In Diploma,6Years,NaN,NaN,NaN
2,4,30,Dr. Akshay W. Sonar,Clinical Assistant,Medical,RMO,2021-07-27,2022-07-26,18000,09.05.1997,BHMS,4Years,1516138419,NaN,NaN
3,5,23,Dr. Akshay M. Jadhav,Clinical Assistant,Medical,RMO,2022-01-01,2022-12-31,19000,14.10.1996,BAMS,1Years,77980,24.02.2021,NaN
4,6,23,Dr. Anuradha R. Deshmukh,Clinical Assistant,Medical,RMO,2022-01-01,2022-12-31,18600,5.12.1996,BHMS,3Years,74571,14.02.2026,NaN

## clean dates

In [ ]:
df.regdVal[1:5]

# convert multiple date to date format
dtCols1 = ['DOB','regdVal']
df[dtCols1] = df[dtCols1].apply(pd.to_datetime, format='%d.%m.%Y')
df.dtypes

In [30]:
#df.regdVal

In [31]:
df[pd.notnull(df.regdVal)]
#show only non missing values to get existing data format

AttributeError: 'DataFrame' object has no attribute 'regdVal'

In [ ]:
df.regdVal = pd.to_datetime(df.regdVal, format='%d.%m.%Y')
df.regdVal[pd.notnull(df.regdVal)]

In [ ]:
df[pd.notnull(df.regdVal)]

In [ ]:
df.head()

In [ ]:
df.DOB[pd.notnull(df.DOB)].head()

In [ ]:
df.DOB = pd.to_datetime(df.DOB, format='%d.%m.%Y')
df[['DOJ','DOL','DOB','regdVal']].head(10)
#convert in to dates, multiple Cols ???

### Days Served

In [ ]:
# find months served, age in years
now = dt.datetime.today()
today = dt.date.today()
print(now, ' :: ', today, ' :: ', str(today), " ::  Indian Format ", today.strftime('%d-%b-%Y'))

In [ ]:
(df.DOL - df.DOJ).head() #/np.timedelta64(1, 'D'))

In [ ]:
df['daysServed'] = ((df.DOL - df.DOJ)/np.timedelta64(1, 'D')).astype(int)  #convert into integer
df[['DOJ','DOL','daysServed', 'DOB','regdVal', ]].head()

In [ ]:
#df[['empID','DOJ','DOL']]
df["monServed"] = (df['DOL'] - df["DOJ"]).dt.days
# (df['date'] - dt.datetime.now()).dt.days
df['monServed'] = np.round(df["monServed"]/30)
df[['DOJ','DOL','daysServed', 'monServed', 'DOB','regdVal', ]].head()

### Age in years
-  all data for DOB, current date

In [ ]:
now = pd.Timestamp(dt.datetime.now())
print(now)
df["age"] = ((now - df["DOB"]))
df['age'] = np.round(df["age"].dt.days / 365)  #years

In [ ]:
df[['DOJ','DOL','daysServed', 'monServed','DOB','age','regdVal', ]].head()

In [ ]:
', '.join(df.columns)

In [ ]:
df.head()

In [ ]:
df['exprYr'] = df['expr'].str.extract('(\d+)', expand=False).astype('float')

In [ ]:
print(list(df['expr']))
#df.expr.to_string()  #show horintally
#different ways Year, Year,years, Months, Fresher ## remove Years from experience

In [ ]:
print(list(df.exprYr), '\n', list(df.expr))

In [ ]:
pd.concat([df.expr, df.exprYr], axis=1, ignore_index=True)

In [ ]:
df[df.expr.str.contains('Months|month|mon')]

In [ ]:
df.dtypes

In [ ]:
df.loc[df.expr.str.contains('Months|month|mon'), 'exprYr'] = df.exprYr / 12

In [ ]:
df[df.expr.str.contains('Months|month|mon')]

In [ ]:
removeList = ['Year','Years','year', 'years','Months','Fresher',' Years','s']
for WORD in removeList:
    df['expr'] = df['expr'].str.replace(WORD, '')
df.expr.to_string()

In [ ]:
df.dtypes

In [ ]:
df.expr.head()

In [ ]:
df['expr'].str.strip().head()

In [ ]:
print(df['expr'].max(), df['age'].max())
#df.dtypes

In [ ]:
df.expr = pd.to_numeric(df.expr, errors="coerce")
df.head()

In [ ]:
df.expr

In [ ]:
df.dtypes

## Summaries
-  Find missing data
-  Dept Wise 
    -  Salary - min, max, mean, median
    -  Age - min, max, mean
-  Find keywords in 
    -  designation
    -  qualifications
    -  name
-  Experience

In [ ]:
df

In [ ]:
df.head()

In [ ]:
### Missing Values
df.isnull().head()

In [ ]:
df.isnull().sum(axis=0)  #each column

In [ ]:
df.isnull().sum(axis=1) #each row

In [ ]:
df['expr'] = df['expr'].fillna(0)
df.isnull().sum(axis=0)  #each column

In [ ]:
df.loc[19,]

### Search for string in DF
-   series.str.find(sub, start, end)
-   series.str.containst(sub)

In [ ]:
', '.join(df.design.unique())

In [ ]:
df[ df.design.str.contains('HR|Matron')]

In [ ]:
df.design.str.find('HR') #character position where HR is found

In [ ]:
df[ df.design.str.contains('hr|technician', case=False, regex=True) ]

In [ ]:
df[ df.qual.str.contains('Arts|Diploma|BA', case=True, regex=True) ]

In [ ]:
myList = ['Arts','Diploma','BA','bsc']
pattern = '|'.join(myList)
print(pattern)
#df[ df.qual.str.contains(pattern, case=False, regex=True) ]
df[ df.qual.str.contains('Arts|Diploma|BA|bsc', case=False, regex=True) ]

In [ ]:
df[ df.eName.str.contains('Jadhav|Kok', case=False, regex=True) ]

In [ ]:
df.to_csv('empData1.csv', index=False)

## Groupby Summaries
-  Top Salaries by Dept

In [ ]:
df.iloc[:,[0,1]].head()

In [ ]:
df.loc[0:3,['sal','dept']] #index
#df.loc[:, ['column1', 'column3', 'column4']]

In [ ]:
df.sort_values(by=['dept','sal'], ascending=[True,False])

In [ ]:
df.dept.value_counts()

In [ ]:
df.sort_values(by='sal', ascending=False).groupby('dept').nth(-1).sort_values(by='dept')  # 0(first), -1 (last)
#group wise top person by Salary

In [ ]:
df.sort_values(by='sal', ascending=False).groupby('dept').first()  #.reset_index(drop=True)

In [ ]:
df.sort_values(by='sal', ascending=False).groupby('dept').last()

In [ ]:
df.sort_values(by='sal', ascending=False).groupby('dept').head(1).sort_values(by='dept')

In [ ]:
df.sort_values(by='sal', ascending=False).groupby('dept').agg({'sal':['first','last','mean', 'min', 'max'],'expr':['count']})

### Plot
-  bar
-  line
-  scatter

In [ ]:
deptCount = df.groupby('dept').size()
print(deptCount)
deptCount.plot(kind='bar')

In [ ]:
df.DOJ.dt.month.head()

In [ ]:
df.DOJ.dt.month_name()

In [ ]:
monthDOJ = df.groupby(df.DOJ.dt.month_name()).size()
print(monthDOJ)
monthDOJ.plot(kind='bar')

#  change 2 dates together