Data Structures - Basic Types(Ref:A51_dsBasic)
-   List
-   Tuple
-   Sets
-   Dictionary
-   Strings

# List 
Ordered, Mutable, Collection of items, mixed data types
[ , , ] : square bracket

In [1]:
list=[1,2,3,4,5.5,'Shanthini','Tharika','GOOD','True', 'False'] #Listed integer,float,category,ordered category,logic

In [2]:
list

[1, 2, 3, 4, 5.5, 'Shanthini', 'Tharika', 'GOOD', 'True', 'False']

In [4]:
list[6]

'Tharika'

In [11]:
list[4:7]

[5.5, 'Shanthini', 'Tharika']

In [12]:
list[6]='S.V.Tharika' #Mutable

In [13]:
list[6]

'S.V.Tharika'

# Tuple
Ordered, Immutable, Collection of items, mixed data types
values cannot be changed
However, new tuple can be created
(, , ) : round bracket

In [14]:
tuple=(1,2,3,4,5.5,'Shanthini','Tharika','GOOD','True', 'False')

In [15]:
tuple

(1, 2, 3, 4, 5.5, 'Shanthini', 'Tharika', 'GOOD', 'True', 'False')

In [17]:
tuple[6]

'Tharika'

In [18]:
tuple[4:7]

(5.5, 'Shanthini', 'Tharika')

In [23]:
tuple[6]='Lakshana' #Immutable

TypeError: 'tuple' object does not support item assignment

# Sets
Collection of unique items, Unordered; Mutable
{ , }

In [25]:
setA={'1','2','3'}
setB={'2','3','4'}

In [28]:
print(setA,setB)

{1, 2, 3} {2, 3, 4}

In [29]:
print(type(setA))

<class 'set'>

In [30]:
setA.union(setB)

{1, 2, 3, 4}

In [31]:
setA | setB  #union

{1, 2, 3, 4}

In [32]:
setA & setB # intersection

{2, 3}

In [33]:
setA.intersection(setB)

{2, 3}

In [34]:
setA - setB

{1}

In [35]:
setB-setA

{4}

# String
text with 'single quote' or "doublequote" immutable (elements cannot be changed) However full string can be reassigned

In [36]:
str1 = 'My first practice in Python'
print( 'Type of String "', str1, '" is good ', type(str1))

Type of String " My first practice in Python " is good  <class 'str'>

In [37]:
#functions in string
print(dir(str), sep='\t')

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [38]:
str1 = "PYTHON" #new string assigned
str1.lower()

'python'

In [41]:
print(str1)
str1[1] = 'PROGRAMMING LANG' #immutable individual elements cannot be changed , but new string can be assignedPrint

PYTHON

TypeError: 'str' object does not support item assignment

# Dictionary
Mutable, Collection of items, mixed data types
Duplicate keys not allowed
{ key : value} : create by curly bracket with key - value pairs

In [44]:
dict={'Tharika':'F':15,'Lakshana':'F':12,'Sarvesh':'M':10}

In [45]:
dict

{'Tharika': 'F', 'Lakshana': 'F', 'Sarvesh': 'M'}

In [47]:
dict={'Tharika':15}

In [48]:
dict

{'Tharika': 15}

In [49]:
type(dict)

dict

In [51]:
', '.join(dir(dict))

'__class__, __class_getitem__, __contains__, __delattr__, __delitem__, __dir__, __doc__, __eq__, __format__, __ge__, __getattribute__, __getitem__, __getstate__, __gt__, __hash__, __init__, __init_subclass__, __ior__, __iter__, __le__, __len__, __lt__, __ne__, __new__, __or__, __reduce__, __reduce_ex__, __repr__, __reversed__, __ror__, __setattr__, __setitem__, __sizeof__, __str__, __subclasshook__, clear, copy, fromkeys, get, items, keys, pop, popitem, setdefault, update, values'

In [52]:
dict['Tharika']

15

In [53]:
dict['Tharika'] ='F'   #values can be changed
dict

{'Tharika': 'F'}